spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  application:
    name: StudyBuddy

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: Simo@database99
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

app:
  jwt:
    secret: my-super-secret-key-that-should-be-long-and-random-1234567890
    expiration-ms: 86400000
  upload:
    dir: uploads